In [ ]:
import pandas as pd    # to handle the dataframe
pd.set_option('expand_frame_repr', False) #to avoid the multi-lines formatting of the dataframe
import numpy as np     # to handle numbers and ndarray

Pandas is the library we will use to handel our dataFrames

data frame has this structure {'Column Name':[list of values] for each column in the csv file}

In [ ]:
df = pd.read_csv('CSVFileName.csv')

-This is the command to import the csv file after it beeing imported to our collab enviroment, and actually with a simple print(df) it can be printed and you can see what you data has in it (very recommendeed to know what data do you have)

**It is a good practice to create a new data set instance after making multiple changeds into the new data set so that you don't lose information**
df_Numerical=df (This is possible as df will be already modified ) amnd from now omn you will be using df_values in your work

In [ ]:
df.shape

(Number of Rows, Number of Columns)

In [ ]:
df.columns

Know what are the columns in the imported dataframe

In [ ]:
for column_name in df.columns:
    print(df[column_name])
    print("\n")

This type of for iterations allows you to work on each column if you want to make anymodification on a whole column at once

In [ ]:
df.head(n)

The first n rows of the dataset

In [ ]:
print(df.loc[0].index) # 0 can be replaced with any value of any valid number row
df.set_index(np.arange(10,112), inplace=True) # chnahge the imndex from being 1..n into beeing what ver you want (112 must be replaced with the number of rows + first index)
print(df.loc[10].index) #
print(df.iloc[20:37,0:2]) # rows 20 until 36 and first and second column the third is excluded
print(df.loc['15':'17', 'Personality':'Age']) #chose rows 15 until 17

Instrections to get a specific row or column

In [ ]:
df.info

This is used to get general information about the different statistical caracteristics of the dataset

In [ ]:
mlt_seris =df.groupby(['Column1','Column2','Column3']).Column.mean()

groups the data by the Column1 then by Column2 then by Column3

.Column must be a numerical value (Float or int)

object here stands for String

In [ ]:
num_split=df.loc[:df.dtypes==object]

Extract all numerical data (Ignore all categorical data)

In [ ]:
print(num_split[column_name].mean())
print(num_split[column_name].median())
print(num_split[column_name].mode()

These operations can be applieed on all numerical columns (even in datasets that has both categorical and numerical columns)

The column name must be a numerical column

In [ ]:
import matplotlib.pyplot as plt
import scipy.stats as stats
# Calculating the mean and standard deviation of the parameter "GStat":
mean = df['Column'].mean()
std = df['Column'].std()

# Calculating probability density function (PDF)
pdf = stats.norm.pdf(df['Column'].sort_values(), mean, std)

# Drawing a graph
plt.plot(df['Column'].sort_values(), pdf)
plt.xlim([5,20])
plt.xlabel('Name of column', size=12)
plt.ylabel('Frequency', size=12)
plt.grid(True, alpha=0.3, linestyle='--')
plt.show()

This is used for **ONLY** the same **Numerical Column** all what you have to do is to replace the df['Column'] with df['The Numerical Column that you want to check']

It woul be really appreciated if you can make the operation for multiple numerical columns (To better visulaize the given work)

In [ ]:
categ_split=df.loc[:df.dtypes=object]

Extract all categorical data (Ignore all numerical data)

In [ ]:
print(categ_split[column_name].mode())
print(categ_split[column_name].value_counts())

These are the functions that allow you to work on the categorical data

In [ ]:
# the range
def range_imp(dat):
  return (dat.max()-dat.min())

range_results = num_split.select_dtypes(include='number').apply(range_imp)
range_results

def interquartile_range(dat):
  return (dat.quantile(0.75)-dat.quantile(0.25))

resultsIQR = num_split.select_dtypes(include='number').apply(interquartile_range)
resultsIQR

These are some statistical mesures you need to know and when usoing it just

In [ ]:
df.describe()

Statistical

In [ ]:
num_split.boxplot()

#Variance
num_split.var()

#Standard deviation (écart type)
num_split.std()

Funtions to help understand the dispersion of our data

In [ ]:
#Kurtosis
num_split.kurtosis()
#Skewness
num_split.skew()

These functions allows us to understand the symmetry of our data

Check pages 54 and 55 from chapitre 2 in the class room in order to make interpretaions as they will be damanded depending on the dataset that will be offered to you

****You are the best Keep it up nothing will stop us 💪 ⭐****